@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body
{
    background-image: url(pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-color: hsl(225, 100%, 94%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

main
{
    background-color: white;
    max-width: 416px;
    border-radius: 1rem;
}

main img
{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

main section
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    height: 100%;
    width: 100%;
}

main section h1
{
    margin: 2rem 0 1rem;
    color: hsl(223, 47%, 23%);
}

main section p
{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

main .informations
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.8rem;
    padding: 1rem 1rem;
    margin: 1rem 0 2rem;
}

main .informations .music-price
{
    display: flex;
    align-items: center;

}

main .informations img
{
    width: 48px;
    margin-right: 1rem;
}

main .informations .price
{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

main .informations a
{
    color: hsl(245, 75%, 52%);
    font-weight: 600;
    font-size: 90%;
    padding-right: 0.40rem;
    transition: all 0.3s;
}

main .informations a:hover
{
    color: hsl(223, 47%, 23%);
    text-decoration: none;
    
}

main button
{
    background-color: hsl(245, 75%, 52%);
    color: white;
    cursor: pointer;
    font-weight: 600;
    border: none;
    width: 100%;
    padding: 1rem 0;
    border-radius: 0.8rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 20px 20px rgba(56, 42, 255, 0.2);
    transition: background 0.3s;
}

main button:hover
{
    background-color: #766CF1;
}

#cancel-order
{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    transition: color 0.3s;
}

#cancel-order:hover
{
    color: hsl(223, 47%, 23%);
}


@media screen and (max-width: 650px) {
    body
    {
        background: url('pattern-background-mobile.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: hsl(225, 100%, 94%);
    }
}

@media screen and (max-width: 980px){
    section
    {
        padding: 0 3rem;
    }
}
